/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

a.anchor {
    display: block;
    position: relative;
    top: -180px;
    visibility: hidden;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-qs,
.btn-qs:hover,
.btn-qs:focus {
  font-family: 'Montserrat-bold';
}

.btn-event{
  background: url("../images/ms-facebook.png") no-repeat 15px 11px;
  background-size: 27px 27px;
  padding-left: 55px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .btn-event{
    background-position: 15px 23px;
    white-space: pre-wrap;
    
    /*text-indent: 40px;*/
    
    line-height: 20px
}
}

.btn-qs, .btn-qs.focus, .btn-qs:focus {
  color:#fff;
  background-color:#f26522;
  border:none;
  text-decoration: none;
}
.btn-qs:hover {
  color:#f26522;
  background-color:#fff;
  text-decoration: none;
}

.btn-newsletter, 
.btn-newsletter.focus, 
.btn-newsletter:focus, 
.btn-newsletter:hover{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.form-input, .form-submit{
  display: block;
}

.form-input{
  margin-bottom: 20px;
  margin-left: 0;
}

input{
  color: #000;
  border: none;
  line-height: 14px;
  padding: 18px;
  height: 50px;
  font-size: 14px;
  vertical-align: middle;
  width: 100%;
}

@media (min-width: 768px) {
  .form-input, .form-submit{
    display: inline-block;
  }
  .form-input{
    margin-bottom: 0;
    margin-left: 1px;
  }
  input{
    width: auto;
  }
  .btn-newsletter, 
  .btn-newsletter.focus, 
  .btn-newsletter:focus, 
  .btn-newsletter:hover{
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-bottom-radius: 0;
  }
}

/* Titles */
h3{
  font-family: 'Montserrat-bold';
  font-size: 14px;
  text-transform: uppercase;
  line-height: 20px;
  padding: 0 0 10px;
  margin: 0
}
h2{
  color: #9bc9cf;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 0px
}
h1{
  font-family: 'Montserrat-ultralight';
  font-size: 46px;
  line-height: 46px;
  margin-top: 10px;
}
p{
  margin: 30px 0 0
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #fff;
  text-align: center;
  font-family: 'Montserrat-light';
  background-image: url(../images/bg.png);  
  /* Image is centered vertically and horizontally at all times */
  background-position: top center;
  
  /* Image doesn't repeat */
  background-repeat: repeat;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: 1280px 700px;
  background-color: #4a3a69;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  margin-bottom: 100px;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  border-bottom: 1px dotted #fff;
  background: url(../images/bg-image.jpg) no-repeat center; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}
.site-wrapper-inner {
  display: table-cell;
  /*vertical-align: top;*/
  padding-top: 100px;
  vertical-align: middle;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Body
 */
.content {
    text-align: left;
    padding-top: 58px;
    margin-bottom: 100px;
    border-bottom: dotted 1px #fff;
 }

.headline, .footerline {
    margin-bottom: 100px;
    padding-bottom: 100px;
    border-bottom: dotted 1px #fff;
 }

.footerline{
  margin-bottom: 0px;
}

.footer{
  padding: 20px;
  text-align: center;
  font-size: 10px
}


.ville{
    margin-top: -58px;
    margin-bottom: 58px;
    padding-bottom: 100px;
 }

.last-ville{
  margin-bottom: 0;
}

.bus-line{
    background: url("../images/bus-line.jpg") repeat-y 10px 0;
    background-size: 15px 1px;
 }

.bus-stop{
    height: 15px;
    background: url("../images/bus-stop.png") no-repeat 10px 0;
    background-size: 15px 15px;
    margin-top: -7px;
 }

@media (min-width: 992px) {
  .bus-line, .bus-stop{
      background-position: 100px 0;
  }
}

.lead{
  margin-top: 0;
}

.response{
  margin-top: 40px;
}

.mce_inline_error{
  position: absolute;
  font-size: 11px
}

/*
 * Header
 */
/*.social {
  display: inline-block !important;
}*/



/*
 * Navigation
 */
.navbar-nav, 
.navbar-nav > li > a,
.navbar-header > a{
  line-height: 20px;
}

.navbar-nav{
  float: none;
  font-family: "Montserrat-bold";
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .navbar-nav, 
  .navbar-nav > li > a,
  .navbar-header > a{
    line-height: 45px;
  }
  .navbar-nav{
    float: right;
  }
}

.navbar-inverse .navbar-nav>li>a.lower-text{
  color: #917199;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    /*vertical-align: middle;*/
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
